/*GLOBAL*/
body{
    background: #383838;
    background: url(../media/gray_code_background.png);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
div{box-sizing: border-box;}

a {
	color: #00ff00;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a.special_link {
	color: red;
}

/* NAV */
#side_nav p {
    margin-bottom: 0px;
    margin-top: 0px;
}
.active {
    display: block;
}
.primary_section:not(.active) {
    display: none;
    opacity: 0;
}
#splash:not(.active) {
    display: none;
}

/*MAIN CONTAINER*/
#main_container{
    margin: 0;
    position: relative;
    width: 100%;
}

/*SIDE NAV*/
#side_nav{
    background: #57eabd;
    background: linear-gradient(160deg, rgba(104, 185, 255, 0.85), rgba(104, 190, 154, .9)), url("../media/nav_background2.png");
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: .25s;
    width: 300px;
    z-index: 2;
}
.nav_appear{
    transform: translate(300px,0);
}
.nav_image1, .nav_image2{
    margin: 25px 20%;
    opacity: 0;
    position: absolute;
    transition: .5s;
    width: 60%;
}
.nav_image2{
    opacity: 1;
}
.contact_info{
    height: 0;
    margin: 250px 0 0px 4%;
    overflow: hidden;
    width: 92%;
    transition: .5s;
}
#side_nav p{
    color: white;
    font-family: "Lato", sans-serif;
    line-height: 25px;
    text-align: center;
}
.nav_option{
    color: white;
    font-family: sans-serif;
    font-size: 1.25em;
    height: 50px;
	line-height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0 0 0 0;
    transition: .25s;
    user-select: none;
    width: 100%;
}
.nav_option:hover{
    cursor: pointer;
    padding-left: 5px;
}
.nav_styling{
    background: rgba(255, 255, 255, 0.2);
	line-height: 50px;
    padding-left: 5px;
}
.fa{
    color: white;
}
.fa.explainer_link {
    color: black;
}
#user_icon{
    font-size: 1.5em;
    margin: 0 35px 0 25px;
}
#data_icon{
    font-size: 1.35em;
    margin: 0 34px 0 24px;
}
#web_icon{
    font-size: 1.5em;
    margin: 0 29px 0 20px;
}
#math_icon{
    font-size: 1.3em;
    margin: 0 33px 0 23px;
}
#samples_icon {
	font-size: 1.3em;
	margin: 0 33px 0 23px;
}
#download_icon{
    font-size: 1.5em;
    margin: 0 33px 0 23px;
}

/*CONTENT PAGES*/
#content{
    overflow: hidden;
    padding-left: 300px;
    position: relative;
    width: 100%;
}
.overlay{
    background: rgba(0, 0, 0, 0.65);
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#menu_icon{
    background: #76cec0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    padding: 5px 10px;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 10;
}
#menu_icon:hover{
    cursor: pointer;
}
.content_container{
    background: rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    min-width: 375px;
    max-width: 1200px;
    overflow: hidden;
    width: 80%;
}
.primary_section{
    margin: 0;
}
/* common content elements */
h1{
    color: white;
    font-family: sans-serif;
    margin-bottom: 0;
    padding-left: 2.25%;
}
.specialty_overview{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    line-height: 27px;
    margin: 15px 2.25% 25px 2.25%;
    width: 95%;
}
.proficiencies{
    background: #57eabd;
    background: linear-gradient(160deg, rgba(104, 185, 255, 0.9), rgba(104, 190, 154, 0.9)), url("../media/nav_background2.png");
    overflow: hidden;
}
.proficiency_title{
    color: white;
    display: inline-block;
    float: left;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    margin: 20px 0 20px 3%;
}
.proficiency_icon{
    margin:  10px 0 5px 1.5%;
    width: 55px;
}
.project{
    background: white;
    margin: 20px auto;
    overflow: hidden;
    width: 95%;
}
.project_icons{
    background: #57eabd;
    background: linear-gradient(160deg, rgba(104, 185, 255, 0.85), rgba(104, 190, 154, .9)), url("../media/nav_background2.png");
    background-size: cover;
    display: inline-block;
    float: left;
    height: 275px;
    margin: 0 20px 0 0;
    overflow: hidden;
    padding: 10px;
    width: 275px;
}
.penn{height: 300px;}
.georgia_tech{height: 300px;}
.hr_group{height: 300px;}
.politics{height: 300px;}
.project_p{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    line-height: 26px;
    padding-left: 20px;
	padding-right: 20px;
}
.project_p.associated_media {
    font-size: 30px;
    text-align: center;
}
.project_p a {
    color: red;
}
.publication {
    font-size: 20pt;
    text-align: justify;
}
/*project icon stuff*/
.icons_text{
    color: white;
    font-family: "Lato", sans-serif;
    margin: 5px 0 5px 10px;
}
.project_title{
    font-size: 1.65em;
    font-weight: bold;
}
.project_description{
	border-bottom: 1px solid white;
    font-size: 1.25em;
}
.project_date{
    border-bottom: 1px solid white;
	color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 90%;
}
.description{
    margin-bottom: 5px;
}
.skill_icon{
    margin-left: 7px;
    width: 50px;
}
.languages{
    overflow: hidden;
    width: 100%;
}
.description2{
    
}
/* splash page*/
.splash_container{
    
}
.header_image{
    background: #57eabd;
    background: linear-gradient(160deg, rgba(104, 185, 255, 0.85), rgba(104, 190, 154, .9)), url("../media/nav_background2.png");
    min-height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.main_page_image {
	margin-bottom: 10px;
	margin-top: 40px;
	text-align: center;
}
.main_page_header {
	text-align: center;
}
.header_info{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
	margin-bottom: 5px;
	margin-top: 5px;
}
.header_info.contact_line {
	margin-bottom: 30px;
}
.header_name{
    font-size: 2em;
}
#splash_overview{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    line-height: 27px;
    margin: 0 0 5% 0;
    padding: 3%;
}
.section_button{
    float: left;
    margin: 2% 0 7% 11%;
    overflow: hidden;
    padding: 10px;
    width: 225px;
}
.section_button:hover{
    cursor: pointer;
    opacity: .5;
}
.section_icon1, .section_icon3{
    margin-left: 20%;
    width: 60%;
}
.section_icon2{
    margin-left: 22.5%;
    width: 55%;
}
.section_button p{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    text-align: center;
}
/* data page */
#data{
    
}

.libraries {
	text-decoration: underline;
}
/* web page */
#web{
    
}
/* math page */
#math{
    
}
/* resume page */
#resume{
    
}
iframe{
    height: 800px;
    margin-left: 5%;
    min-width: 415px;
    width: 90%;
}

.explainer {
    height: 557px;
}
.content_container h1{
    /*margin: 20px 0;*/
    font-size: 60px;
    text-align: center;
}
.specialty_overview a{
    color: white;
    text-decoration: underline;
}
/* RESPONSIVE */
@media (max-width: 1580px){
    .section_button{
        float: left;
        margin-left: 0;
        width: 33.3%;
    }
    .section_icon1, .section_icon2, .section_icon3{
        margin-left: 30%;
        width: 40%;
    }
    .section_icon3{
        margin-top: 2%;
    }
}
@media (max-width: 1024px){
    #splash_overview{
        text-align: justify;
    }
    .specialty_overview{
        text-align: justify;
    }
    .project_icons{
        display: block;
        float: none;
        margin: 0 auto 20px auto;
        width: 100%;
    }
    .project_p{
        margin: 0 2.25% 20px 2.25%;
        text-align: justify;
        width: 95%;
    }
}
@media (max-width: 960px){
    .dev_proficiency{
        display: block;
        float: none;
    }
    iframe{
        margin-left: 10px;
    }
}
@media (max-width: 720px){
    #side_nav{
        margin-left: -300px;
    }
    .contact_info{
        
    }
    #content{
        overflow: hidden;
        padding-left: 0;
        width: 100%;
    }
    .content_container{
        width: 100%;
    }
    #menu_icon{
        display: inline-block;
    }
    .header_name{
        margin: 100px 0 15px 30px;
        font-size: 2em;
    }
}